body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(180, 74%, 87%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(48, 47, 47, 0.329);
    border-radius:10px ;
    margin: 10px;
    width: 300px;
}

button[type = "submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(120, 90%, 40%);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

button[type = "submit"]:hover{
    background-color: hsl(120, 90%, 46%);
}

.card{
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(135, 80%, 70%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.1rem;
    margin: 0px 25px 0px 0px ;
}

p{
    font-size: 1.2rem;
    margin: 5px 0px;
}

.cityDisplay , .tempDisplay{
    font-size: 3.1rem;
    color: hsla(0, 0%, 0%, 0.774);
    margin-bottom: 25px;
    
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem ;
    color: hsla(0, 0%, 0%, 0.856)
}

.weatherEmoji{
    margin: 0;
    font-size: 7rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.788)
}

.humidityDisplay{
    font-size: 1.5rem;
    color: hsla(0, 0%, 0%, 0.856)
    
}

/* styles.css */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    cursor: none; /* Hide default cursor */
    background-color: hsl(202, 72%, 86%); /* Background for contrast */
  }
  
  #cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    background: hsla(143, 100%, 30%, 0.801); /* Neon color */
    border-radius: 50%;
    box-shadow: 0 0 15px hsla(143, 100%, 30%, 0.719), 
                0 0 30px hsla(180, 100%, 40%, 0.514);
    pointer-events: none;
    transition: transform 0.1s ease-out;
  }

  .trail {
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgba(0, 255, 255, 0.5); /* Neon color */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 
                0 0 20px rgba(0, 255, 255, 0.3);
    pointer-events: none;
  }
  
  